@import url('./vars.css');

.formContainerLight {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background-color: var(--form-bg-light);
  border-radius: 5px;
}

.formContainerDark {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background-color: var(--form-bg-dark);
  border-radius: 5px;
}

.formInputElementLight {
  border: none;
  padding: 0.5rem;
  margin: 0.5rem 0;
  width: 50vw;
  border-radius: 5px;
  font-family: 'Montserrat', sans-serif;
  background-color: var(--form-input-bg-light);
  color: var(--form-input-text-light);
}

.formInputElementDark {
  border: none;
  padding: 0.5rem;
  margin: 0.5rem 0;
  width: 50vw;
  border-radius: 5px;
  font-family: 'Montserrat', sans-serif;
  background-color: var(--form-input-bg-dark);
  color: var(--form-input-text-dark);
}

.captchaBox {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 1rem 0;
  font-family: 'Montserrat', sans-serif;
}

.captcha {
  text-align: center;
}

.signUpBtn {
  padding: 0.5rem;
  border-radius: 5px;
  background-color: #166BFF;
  border: none;
  color: #ffffff;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
  margin-top: 0.5rem;
}

.errorLabel {
  color: red;
  font-size: small;
  font-weight: 400;
}

.successLabel {
  color: green;
  font-size: small;
  font-weight: 400;
  text-align: center;
  padding-top: 1rem;
}